


/* Zone definitions, etc. */

#vizstudio {
  width: 100%;
  height: 1080px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: block;
  position: relative;
}

.zone-wrapper {
  width: 100%;
  height: 1080px;
  margin:  0;
  padding: 0;
  position:  absolute;
  top:  0;
  left:  0;
  background:  black;
}




/* Additional styles used for media players, images, and wrapper elements */

.zone .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.zone .wrapper img.vertical {
  height: 100%;
}

.zone .wrapper img.horizontal {
  width: 100%;
}

.zone .wrapper img {
  height: 1080px;
}

.zone .wrapper p {
  line-height: 1em;
  margin:  0;
  padding:  0;
  font-size:  175px;
  color:  #fff;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 0.6;
  width:  100%;
  text-align:  center;
  position:  absolute;
  top: 35%;
  left:  0;
}

.zone .wrapper .label {
  position:  absolute;
  top: 60%;
  left:  0;
  text-align:  center;
  font-size:  70px;
  line-height: 2em;
  z-index:  100;
  width:  100%;
  opacity: 0.4;
  font-family: monospace;
}

/*
.zone .wrapper p.pink {
  color:  #fc5ac5;
}

.zone .wrapper p.blue {
  color:  #b4e4f6;
}
*/

.player-wrapper {
  padding: 0;
  margin: 0 auto;
  /* width: 1536px; */
  width: 1280px;
}

.zone.span-2 .player-wrapper {
  width: 2560px;
}

.player-wrapper video, .wrapper video {
  height: 1080px;
  /*max-width: 100%;*/
}


/*#zone-1 .player-wrapper.single-source video,
#zone-2 .player-wrapper.single-source video,
#zone-3 .player-wrapper.single-source video,
#zone-1-2 .player-wrapper.single-source video,
#zone-2-3 .player-wrapper.single-source video,
#zone-1-2-3 .player-wrapper.single-source video,
#zone-4 .player-wrapper.single-source video,
#zone-8 .player-wrapper.single-source video,
#zone-9 .player-wrapper.single-source video,
#zone-10 .player-wrapper.single-source video,
#zone-9-10 .player-wrapper.single-source video {
  height: 1080px;
}*/

.controls {
  clear: both;
  text-align: center;
}

.test-red {
  width: 100%;
  height: 100%;
  background: #990000;
}

.test-green {
  width: 100%;
  height: 100%;
  background: #009900;
}

.test-blue {
  width: 100%;
  height: 100%;
  background: #000099;
}

.playlist-control {
  font-size: 50px;
  color: #333;
}

.playlist-control:hover {
  cursor: pointer;
}

.playlist-link {
  color: #333;
}

.playlist-link:hover {
  color: #666;
}

.playlist-link.current, .playlist-link.current:hover {
  color: #666;
}

.to-fade-in {
  opacity:  0;
}



#slideSource {
  opacity: 1;
  transition: opacity 1s; 
}

#slideSource.fade {
  opacity: 0;
}
